:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  margin: 0;
  /* display: flex;
  justify-content: center;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.follow-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: .8rem;
  box-shadow: 0px 0px 3px #fff;
  padding: 5px;
  border-radius: .625rem;
}

.follow-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.follow-card-info {
  display: flex;
  flex-direction: column;
}

.follow-card-infoUserName {
  opacity: .6;
}

.follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.follow-card-button {
  outline: 0;
  margin-left: 16px;
  border: 1px solid #FFF;
  background: #fff;
  border-radius: 10px;
  padding: 6px 16px;
  font-weight: bold;
  color: #353434;
  transition: .2s ease-out;
}

.follow-card-button.is-following {
  width: 125px;
  background: transparent;
  color: #fff;
  /* border: 1px solid #ff0000;
  color: #ff0000; */
}

.follow-card-button:hover {
  /* background: #fff;
  color: #353434; */
}

.follow-card-button.is-following:hover {
  /* background: #ff0000;
  color: #fff; */
  background: transparent;
  border: 1px solid #ff0000;
  color: #ff0000;
}

.follow-card-button .stop-following {
  display: none;
  color: #ff0000;
}

.follow-card-button:focus {
  outline: 0;
}

.follow-card-button.is-following:hover .stop-following{
  display: block;
}

.follow-card-button.is-following:hover .text-following {
  display: none;
}