@import 'tailwindcss';

.link-navigation {
    @apply flex flex-col justify-center items-center p-5 rounded-2xl ring-1 max-w-28 text-[#00d8ff] text-sm leading-none;
}

.link-navigation-aprendizaje svg,
.link-navigation svg {
    @apply size-8 text-[#00d8ff];
}

.link-navigation:hover,
.link-navigation-aprendizaje:hover {
    @apply bg-[#00d8ff] border-[#00d8ff] text-white;
}

.link-navigation:hover>span,
.link-navigation:hover>svg,
.link-navigation-aprendizaje:hover>span,
.link-navigation-aprendizaje:hover>svg {
    @apply text-white;
}

.link-navigation.active,
.link-navigation-aprendizaje.active {
    @apply bg-[#00d8ff] text-white;
}

.link-navigation.active svg,
.link-navigation-aprendizaje.active svg {
    @apply text-white;
}

.link-navigation-aprendizaje {
    @apply flex justify-center items-center gap-2 p-2.5 border border-[#00d8ff] rounded-xl focus:!outline-0 ring-0 focus:!ring-0 overflow-hidden text-[#00d8ff] text-sm;
}

.link-navigation-aprendizaje svg {
    @apply size-6 text-current;
}

.link-navigation-aprendizaje span {
    /* @apply text-[#00d8ff]; */
}

/* Loading Component */
.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End Loading Component */